@font-face{font-family:"Mallory Book";font-style:normal;font-weight:400;src:url(assets/Mallory-Book-1311291b66a9945865aa60201ee69d16.woff) format("woff")}

@font-face{font-family:"Mallory Bold";font-style:normal;font-weight:400;src:url(assets/Mallory-Bold-8c256832f93587887957c886c76cf0cd.woff) format("woff")}

@font-face{font-family:"MalloryMP Book";font-style:normal;font-weight:400;src:url(assets/MalloryMP-Book-c033e79eb3f3de05d9c88f294ee4a652.woff) format("woff")}

@font-face{font-family:"MalloryMP Bold";font-style:normal;font-weight:400;src:url(assets/fonts/MalloryMP-Bold-12ee988abb0fe4251d624e7bcdd1e065.woff) format("woff")}

@font-face{font-family:"Mallory Book Italic";font-style:normal;font-weight:400;src:url(assets/Mallory-Book-Italic-5927c367a70504f104583bb750810020.woff) format("woff")}

@font-face{font-family:"MalloryMP Bold Italic";font-style:normal;font-weight:400;src:url(assets/fonts/MalloryMP-Bold-Italic-7d0b905afe375d59794635de5f88f1c0.woff) format("woff")}

@font-face{font-family:"MalloryMP Book Italic";font-style:normal;font-weight:400;src:url(assets/fonts/MalloryMP-Book-Italic-c72a28379a9ea16df80174c300dc8a86.woff) format("woff")}